@import "../../scss/variables";
.map {
  border-radius: 0.2rem;
  background: $dark-lighter;
  overflow: hidden;
  transition: background 0.2s;

  &:focus-within {
    background: darken($accent, 15%);
  }

  .label {
    color: $white;
  }

  input {
    background: $dark-light;
    color: $white;
    &:focus {
      outline: none;
    }
  }

  &-wrapper {
    .tickmark {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: translate(50%, 40%);
    }
  }
}
