@import "../../scss/variables";
.map {
  border-radius: 0.2rem;
  background: $dark-lighter;
  overflow: hidden;
  transition: background 0.2s;
}

.map {
  &:focus-within {
    background: darken($accent, 15%);
  }
}

span {
  color: $white;
}

input {
  background: $dark-light;
  color: $white;
  &:focus {
    outline: none;
  }
}
