@import "./scss/variables";

.app {
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: $dark;
  color: $white;
  caret-color: $accent;
}

.textarea {
  background: $dark-lighter;
  color: $white;
  resize: none;
  height: 30rem;
  overflow: auto;
  line-height: 120%;
  letter-spacing: 1px;

  &-output {
    color: darken($white, 20%);

    .highlighted {
      color: $white;
      font-style: normal;
      // text-decoration: underline;
    }
  }

  &::placeholder {
    color: $placeholder;
  }

  &:focus {
    outline-color: $accent;
  }
}

.container-grid {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
}
@media (min-width: 1000px) {
  .container-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.mapping-container {
  grid-column: 1/-1;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(min-content, max-content);
  grid-template-columns: repeat(auto-fit, 6rem);
  gap: 0.5rem;
}
